@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Orbitron:wght@700&display=swap');

.coursepage {
    padding: 40px;
}

.coursepage .coursepage--name {
    font-family: Inter;
}

.coursepage .coursepage--school {
    font-family: Inter;
}

.coursepage .coursepage--desc{
    font-family: Inter;
}

.coursepage .coursepage--legend1{
    font-family: Inter;
    font-size: 14px;
}

.coursepage .coursepage--legend2{
    font-family: Inter;
    padding:0px 20px 0px 5px
}

.coursepage .coursepage--legendimg{
    height:10px;
    width:10px
}

.coursepage .coursepage--modlegend{
    display:inline-block
}

.coursepage .coursepage--link{
    font-family: Inter;
    text-decoration: underline;
}

.coursepage .coursepage--courseinfo{
    display: inline-block;
    width: 700px
}

.coursepage .coursepage--schimg{
    display: inline-block;
    margin: 10px 30px 0 30px
}

.coursepage .coursepage--courseimg{
    height: 200px;
    width: 400px
}


.compare {
    display: flex;
    margin: 10px auto;
}

.compare .compare--child {
    flex: 1;
    margin: 25px;
    padding: 5px;
}




