@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Orbitron:wght@700&display=swap');

.header {
    height: 89px;
    background: #F9CA84;
    display: flex;
    align-items: center;

}

.header .header--title {
    color: #414A74;
    font-family: Orbitron;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: right;
    text-decoration: none;

}

.info {
    width: 1237px;
    height: 53px;
    border-radius: 15px;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.info .info--text {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.compare {
    display: flex;
}

.compare .compare--child {
    flex: 1;
    margin: 25px;
    padding: 5px;
}

.course {
    display: flex;
    margin: 40px;
}

.course .course--rect{
    flex: 1;
    width: 265px;
    height: 371px;
    border-radius: 34px;
    background: #E5E5E5;
    margin: 40px;
}

.course .course--link{
    font-size: 30px;
    font-family: Inter;
    padding: 40px 0;
    border: 0px;
    margin: 10px auto;
    background: none;
    display: flex;
}

.course .course--link:hover{
    background-color: red;
}

.course .course--add{
    position: absolute;
    bottom: 80px;
    margin-left: 180px;
    transform: scale(3);
}

.module{
    display: flex;
}

.module .module--col{
    width: 500px;
    border-radius: 34px;
    background: #E5E5E5;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
}